# "Python Basics"
> "Python Basics 정리 및 과제"

- toc:true
- branch: master
- badges: true
- comments: true
- author: EunSu Cho
- categories: [jupyter, python]

> 괄호 안 씀, 들여쓰기로 구분

> Object 기반 함수 사용

In [45]:
a = [1, 2, 3]

In [46]:
a.append(4) # a라는 object에 4를 추가
            # a라는 object가 가지는 함수 = append
a

[1, 2, 3, 4]

In [47]:
# 데이터 타입
a = 'foo' # '', ""  둘다 상관 없지만 전자 주로 사용
type(a) # 문자형

str

In [48]:
a = 5
isinstance(a, int)

True

In [49]:
b = 4.5
isinstance(b, int)

False

> Attributes and methods

In [50]:
# 첫 글자 대문자로 변경 함수
a = 'foo'
a.capitalize()

'Foo'

In [51]:
# 모든 글자 대문자로 변경 함수
a = 'foo'
a.upper()

'FOO'

In [52]:
# object의 속성 값을 확인 함수
a = 'foo'
getattr(a, 'split')

- Imports

> .py : 모듈로써 관리 (.ipybn 경우, 스크롤이 많아 보기 힘듦)

> .utils.py : 본인의 주요 함수 저장하는 곳

In [140]:
import module
result = module.f(5) # 함수 사용

In [138]:
pi = module.PI # 변수 사용
pi

3.14159

In [141]:
from module import f, g, PI # 간단하게 불러오기
result = g(5, PI)
result

8.14159

In [145]:
import module as mo
from module import PI as pi, g as gf

r1 = mo.f(pi)
r2 = gf(6, pi)

In [146]:
r1

5.14159

In [147]:
r2

9.14159

> == : 같다, != : 같지 않다


> None : 아무것도 안 넣고 싶을 때 (R은 NULL)


>  Object는 할당 됐지만 값 지정은 안 된 것

In [92]:
def add_and_maybe_multiply(a, b, c = None):
    result = a + b
    if c is not None:
        result = result * c
    return result

In [96]:
add_and_maybe_multiply(5, 4)

9

In [97]:
add_and_maybe_multiply(5, 4, 10)

90

In [98]:
type(None)

NoneType

- 리스트 vs 튜플

> 전자 [ ], 후자 ( )

> 전자의 경우 수정 가능, 후자 불가능

> 튜플이 더 빠르게 처리 가능

In [67]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = [3, 4]
a_list

['foo', 2, [3, 4]]

In [148]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

- String

> """ : 줄 바꾸기 인식 = \n

> String 수정 불가, 함수 사용해야 수정 가능 .replace()

> 'String' + 'String' = 'String String'

In [72]:
c = """
This is a longer string that
spans multiple lines
"""
c

'\nThis is a longer string that\nspans multiple lines\n'

In [75]:
b = c.replace('string', 'longer string')
b

'\nThis is a longer longer string that\nspans multiple lines\n'

In [150]:
template = '{0:.2f) {1:s} are worth US${2:d}'
template

'{0:.2f) {1:s} are worth US${2:d}'

- 날짜 시간

In [102]:
from datetime import datetime, date, time
dt = datetime (2011, 10, 29, 20, 30, 21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [104]:
dt.second

21

In [110]:
dt.strftime('%Y/%m/%d %H:%M')

'2011/10/29 20:30'

In [113]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [120]:
dt
dt + delta # dt에 15일 더하기

datetime.datetime(2011, 11, 15, 22, 30)

- if, elif, and else

In [158]:
x = -5

if x < 0:
    print('It is negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

It is negative

- for loops

> continue, break ..

In [160]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value

total

12

- while loops
> 조건에 맞을 때까지 계속 실행

In [169]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [170]:
total

504

In [167]:
x

4

- pass
> 조건에 pass를 넣어서

In [174]:
x = 0

if x < 0:
    print('negative!')
elif x == 0:
    pass
else:
    print('positive!')

- Ternary expressions
> if, else 서식 한줄에 표햔

In [177]:
x = -1
'Non-negative' if x >= 0 else 'Negative'

'Negative'

In [178]:
x = 5
a = 100 if x>=0 else - 100
a

100